
* {
    padding: 0;
    
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 
}
body {
    font-size: arial;
    margin: 20px;
    font-weight: 400px;
    background-image: url(images/sam4bv.png);  
    color:greenyellow;
}
header {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 300px;
    border-radius: 15px;
    margin-left: 20px;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
    padding: 10px;
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

header nav ul li {
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   

}
header nav ul li a {
    text-decoration: none;
     color: white;
}
header nav a:hover {
    color: violet;
}
.s1 {
    
    font-family: arial sans-serif;
    text-align: center;
}
.s2 {
    
    font-family: arial sans-serif;
}
.image-bordure {
    border-radius: 1000px;
}
.s3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
